body {
	background-color: white;
	width: 1536px;
	height: 2048px;
}
div.Basic-Text-Frame {
	padding-left: 100px;
    padding-right: 100px;
}
div.columns {
    -webkit-column-count: 2;
    -webkit-column-width: 550px;
    -webkit-column-gap: 100px;
    padding-top: 170px;
}