body {
	background-color: rgb(254,205,4);
	width: 2048px;
	height: 1536px;
}

div.Basic-Text-Frame {
	padding-left: 115px;
}

p.links-text {
	font-family:"PT Sans Pro Cond Demi", sans-serif;
	font-size:50px;
	line-height:1.3;
}

img.mus-gid-img {
	margin-top: 140px;
	margin-bottom: 170px;
}

img.room-img {
	position: absolute;
	top: 140px;
	left: 690px;
}