body {
	background-color: white;
	width: 1536px;
	height: 2048px;
}
div.Basic-Text-Frame {
	padding-left: 100px;
}
div.huge-text {
	font-family:"PT Sans Pro Cond Demi", sans-serif;
    font-size: 206px;
    line-height: 0.9;
    border-left: 4px solid black;
    padding-left: 86px;
    position: absolute;
    left: 486px;
    top: 60px;
    width: 300px;
}
div.help-text {
    position: absolute;
    left: 1020px;
    top: 60px;
    width: 400px;
    text-align: right;
}
div.pan-frame {
    padding-top: 80px;
    height: 1500px;
    overflow: hidden;
}
div.clear {
    clear: both;
}
#block-page-1 {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 1450px;
}
#block-page-2 {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 0px;
}
#moving-block {
    -webkit-transition: opacity 0.5s linear;
    opacity: 0;
    position: relative;
    left: -4000px;
    width: 1450px;
}
div.pan-block {
    width: 600px;
    text-align: center;
    float: left;
    padding-right: 100px;
    padding-top: 100px;
    background-color: #fff;
}
img.pan-img {
    width: 600px;
}
div#arrow-button {
    padding-top: 50px;
    padding-left: 500px;
}
p.caption {
    padding-top: 40px;
}