body {
	background-color: white;
	width: 2048px;
	height: 1536px;
}
div.Basic-Text-Frame {
	padding-left: 100px;
    padding-right: 100px;
}
div.columns {
    -webkit-column-count: 3;
    -webkit-column-width: 500px;
    -webkit-column-gap: 70px;
    padding-top: 170px;
}