body {
	background-color: white;
	width: 1536px;
	height: 2048px;
}
div.Basic-Text-Frame {
	padding-left: 100px;
    padding-right: 100px;
}
p.sub-h {
    font-family:"PT Sans Pro Cond Demi", sans-serif;
	font-size:34px;
    padding-top: 20px;
}
span.space {
    padding-left: 16px;
}
div.help-text {
    position: absolute;
    left: 940px;
    top: 400px;
    width: 500px;
    text-align: right;
}
img.map-img {
	padding-top: 370px;
}
img.map-info-img {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
}
img#map-info-1 {
    top: 722px;
    left: 506px;
}
img#map-info-2 {
    top: 986px;
    left: 644px;
}
img#map-info-3 {
    top: 854px;
    left: 292px;
}
img#map-info-4 {
    top: 984px;
    left: 458px;
}
img#map-info-5 {
    top: 978px;
    left: 626px;
}
img#map-info-6 {
    top: 956px;
    left: 472px;
}
img#map-info-7 {
    top: 976px;
    left: 532px;
}
img#map-info-8 {
    top: 1130px;
    left: 236px;
}
img#map-info-9 {
    top: 1170px;
    left: 488px;
}
img#map-info-10 {
    top: 1170px;
    left: 484px;
}
img#map-info-11 {
    top: 1200px;
    left: 524px;
}
img#map-info-12 {
    top: 1190px;
    left: 546px;
}
img#map-info-13 {
    top: 1212px;
    left: 588px;
}
img#map-info-14 {
    top: 1240px;
    left: 288px;
}
img#map-info-15 {
    top: 1266px;
    left: 500px;
}
img#map-info-16 {
    top: 1304px;
    left: 396px;
}
img#map-info-17 {
    top: 1442px;
    left: 270px;
}
img#map-info-18 {
    top: 1448px;
    left: 466px;
}
img#map-info-19 {
    top: 1432px;
    left: 618px;
}
img#map-info-20 {
    top: 1510px;
    left: 428px;
}
img#map-info-21 {
    top: 1522px;
    left: 552px;
}
img#map-info-22 {
    top: 1542px;
    left: 906px;
}
img#map-info-23 {
    top: 1538px;
    left: 912px;
}

div.map-button {
    position: absolute;
    width: 40px;
    height: 40px;
}

div#map-btn-1 {
    left: 1073px;
    top: 676px;
}
div#map-btn-2 {
    left: 1212px;
    top: 944px;
}
div#map-btn-3 {
    left: 424px;
    top: 1174px;
}
div#map-btn-4 {
    left: 634px;
    top: 1304px;
}
div#map-btn-5 {
    left: 806px;
    top: 1298px;
}
div#map-btn-6 {
    left: 850px;
    top: 1276px;
}
div#map-btn-7 {
    left: 978px;
    top: 1294px;
}
div#map-btn-8 {
    left: 570px;
    top: 1448px;
}
div#map-btn-9 {
    left: 702px;
    top: 1490px;
}
div#map-btn-10 {
    left: 750px;
    top: 1490px;
}
div#map-btn-11 {
    left: 860px;
    top: 1524px;
}
div#map-btn-12 {
    left: 942px;
    top: 1512px;
}
div#map-btn-13 {
    left: 1128px;
    top: 1534px;
}
div#map-btn-14 {
    left: 560px;
    top: 1564px;
}
div#map-btn-15 {
    left: 680px;
    top: 1586px;
}
div#map-btn-16 {
    left: 766px;
    top: 1626px;
}
div#map-btn-17 {
    left: 484px;
    top: 1768px;
}
div#map-btn-18 {
    left: 874px;
    top: 1768px;
}
div#map-btn-19 {
    left: 1196px;
    top: 1756px;
}
div#map-btn-20 {
    left: 836px;
    top: 1832px;
}
div#map-btn-21 {
    left: 914px;
    top: 1842px;
}
div#map-btn-22 {
    left: 1124px;
    top: 1864px;
}
div#map-btn-23 {
    left: 1292px;
    top: 1860px;
}