body {
	background-color: white;
	width: 2048px;
	height: 1536px;
}
div.Basic-Text-Frame {
	padding-left: 100px;
    padding-right: 100px;
}
p.sub-h {
	font-size:34px;
    padding-top: 20px;
}
img#eye-img {
    position: absolute;
    top: 70px;
    left: 1870px;
}
div.columns {
    -webkit-column-count: 3;
    -webkit-column-width: 500px;
    -webkit-column-gap: 80px;
    padding-top: 40px;
}
p.small-text {
    padding-bottom: 30px;
}
span.strong-text {
    font-family:"PT Sans Pro Cond Demi", sans-serif;
    font-size:28px;
}
span.italic-text {
    font-style: italic;
}
div#info-img {
	position: absolute;
    -webkit-transition: opacity 0.5s linear;
    opacity: 0;
	top: 230px;
    left: -4000px;
    width: 1888px;
    height: 1246px;
    background: url(../image/info_h.png) no-repeat white;
}