body {
	background-color: white;
	width: 2048px;
	height: 1536px;
}
div.Basic-Text-Frame {
	padding-left: 100px;
}
p.ann-text {
    padding-top: 60px;
    width: 500px;
}
div#pie-frame {
    position: absolute;
    top: 20px;
    left: 650px;
    width: 1400px;
}
div.clear {
    clear: both;
}
div.pie-block {
    width: 600px;
    text-align: center;
    float: left;
    padding-right: 100px;
    padding-top: 80px;
    background-color: #fff;
}
p.img-caption {
    padding-top: 20px;
}