body {
	background-color: white;
	width: 1536px;
	height: 2048px;
}
div.Basic-Text-Frame {
	padding-left: 100px;
}
p.sound-text {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 1350px;
}
div.clear {
    clear: both;
}
div.sound-block {
    width: 450px;
    text-align: center;
    float: left;
    padding-right: 0px;
    padding-top: 40px;
    background-color: #fff;
}
.img-caption {
    margin-top: -10px;
}
#canvas-1 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 466px;
    left: 123px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-1 {
    display: none;
    position: absolute;
    top: 466px;
    left: 123px;
    z-index: 99;
}
#canvas-2 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 466px;
    left: 575px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-2 {
    display: none;
    position: absolute;
    top: 466px;
    left: 575px;
    z-index: 99;
}
#canvas-3 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 466px;
    left: 1025px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-3 {
    display: none;
    position: absolute;
    top: 466px;
    left: 1025px;
    z-index: 99;
}
#canvas-4 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 970px;
    left: 125px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-4 {
    display: none;
    position: absolute;
    top: 970px;
    left: 125px;
    z-index: 99;
}
#canvas-5 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 970px;
    left: 575px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-5 {
    display: none;
    position: absolute;
    top: 970px;
    left: 575px;
    z-index: 99;
}
#canvas-6 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 970px;
    left: 1025px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-6 {
    display: none;
    position: absolute;
    top: 970px;
    left: 1025px;
    z-index: 99;
}
#canvas-7 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 1470px;
    left: 125px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-7 {
    display: none;
    position: absolute;
    top: 1470px;
    left: 125px;
    z-index: 99;
}
#canvas-8 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 1470px;
    left: 575px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-8 {
    display: none;
    position: absolute;
    top: 1470px;
    left: 575px;
    z-index: 99;
}
#canvas-9 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    top: 1470px;
    left: 1025px;
    width: 400px;
    height: 400px;
    z-index: 50;
}
#sound-stop-9 {
    display: none;
    position: absolute;
    top: 1470px;
    left: 1025px;
    z-index: 99;
}